<div>
    <app-nav></app-nav>
</div>

<div>
    <h4>This is used as Global available Map for users to search/see where selling real estates are.(HIDE MARKER)
    </h4>
    <app-omap></app-omap>
</div>
<hr>

<div>
    <h4>We are gonna use this to add real estate to database, and showing this smaller map during real estate
        registration</h4>
    <app-list-addresses></app-list-addresses>
</div>
<hr>
<div>
    <h4>From long lat to address</h4>
    <app-long-lat-to-addr></app-long-lat-to-addr>
</div>